body {
  background-color: rgb(31, 31, 31);
  color: white;
}
h1 {
  display: flex;
  justify-content: space-around;
}
#canvasParent {
  position: relative;
  width: 750px;
  height: 500px;
  margin: 0 auto;
}
#controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
#golCanvas {
  z-index: 2;
}
#gridCanvas {
  z-index: 1;
  background-color: white;
}
canvas {
  position: absolute;
}